@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
}

@layer utilities {
}
  .text-balance {
    text-wrap: balance;
  }
